<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.BrickSlide10196129.brickslide.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".BrickSlideApplication"
        >
        <activity
            android:name="nl.mprog.BrickSlide10196129.brickslide.app.game.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="nl.mprog.BrickSlide10196129.brickslide.app.MenuActivity"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.mprog.BrickSlide10196129.brickslide.app.LevelSelectionActivity"
            android:label="@string/title_activity_level_selection" >
        </activity>
    </application>

</manifest>
